In [1]:
(1,2,3) + (4,5)

(1, 2, 3, 4, 5)

In [3]:
x = (1,2,3,4,5,6)[2:7:1]
x

(3, 4, 5, 6)

In [4]:
tuple_3 = ('Erdem', 28, True, ['Tulay', 27, True], ('Zeynep',10,'Murat',7))
len(tuple_3)

5

In [5]:
tuple_3[3]

['Tulay', 27, True]

In [9]:
karisik_tuple = (2,3.14, 'True', False, ('Melisa', 25), ["Jane", 28 ])

karisik_tuple[0] = 9999
# int(bool(karisik_tuple[2]))

TypeError: 'tuple' object does not support item assignment

In [14]:
tuple_deneme = (1, 2, 3, 2, 4, 2, (2,3))

tuple_deneme.index(3)

# print(index)

2

## Dictionaries

In [16]:
dict_1 = {'name' : "Jane", 'surname': "Blue"}

len(dict_1)

2

In [18]:
dict = {"name" : input("please enter your name: ")}

print(dict)

{'name': 'deneme'}

In [19]:
dict_3 = {1 : "Halil", 2 : "Cemil", 3 : "Celil"}
dict_3

{1: 'Halil', 2: 'Cemil', 3: 'Celil'}

In [21]:
dict_4 = {True : "a", False: "b"}
dict_4[True]

'a'

In [23]:
dict_5 = {"Osman" : 1, True : "Ahmet", False : "Sel端l", 3.2: "T端rkiye", "Yengec": (1,2,3), "name": "Hasan", [1,2,3]: "chester", ("a", "b"): "k",  27 : "deneme" }

dict_5

TypeError: unhashable type: 'list'

In [24]:
secim_1 = input("please a or b: ")
secim_2 = int(input("please 1 or 2: "))

ValueError: invalid literal for int() with base 10: 'a'

In [32]:
cats = {"cat1" : "mavis", "cat2" : 2, "bidik" : "siyam", "cat3" : 3}

cats_5 = {"weight" : 12}

cats.update(cats_5)

cats

{'cat1': 'mavis', 'cat2': 2, 'bidik': 'siyam', 'cat3': 3, 'weight': 12}