# LIST 

- Collection - coklu data bulundurabilirler. 
- mutable -> atama yapmadan degistirilebilir 
- iterable -> elemanlarina teker teker ulasabiliriz, indexlenebilir. 
- flexible - esnek 
- iki farkli yol ile liste olusturulabilir [], list()

In [2]:
list_1 = [1, 2, 3, 4, 5]
list_1

[1, 2, 3, 4, 5]

In [2]:
lits_abc = ["a", "b", "c", "d", "e"]
lits_abc

['a', 'b', 'c', 'd', 'e']

In [4]:
list_2 = ['edirne', False, 0.0, 5, 0, '', ["a", "b", "c"], 'Hello world',90]
list_2[::-1]

[90, 'Hello world', ['a', 'b', 'c'], '', 0, 5, 0.0, False, 'edirne']

In [4]:
list_2

['edirne', False, 0.0, 5, 0, '', 'Hello world', 90]

In [5]:
name = 'Jane' 
name[2]

'n'

In [8]:
name_2 = "ahmet"
name_2[3:0:-1]

'emh'

In [9]:
list_2[0:56:-1]

[]

In [7]:
list_2[0][4]

'n'

In [9]:
list_3 =[['a','b','c'], 9, [1, 2, 3],True]

In [10]:
len(list_3)

4

In [12]:
list_2

['edirne', False, 0.0, 5, 0, '', 'Hello world', 90]

In [13]:
len(list_2) # kac elemani oldugu

8

In [10]:
len("876543") # len fonksiyonu iterable data kabul eder.

6

In [15]:
list_2

['edirne', False, 0.0, 5, 0, '', 'Hello world', 90]

In [16]:
len (list_2 [0][4])

1

In [11]:
list_4 = list("12345675") # ERROR list methodunun icine koydugumuz data iterable olmali.

In [19]:
list_4 = list('12345675')

In [20]:
list_4 # her bir karakteri bir eleman olarak kabul etti.

['1', '2', '3', '4', '5', '6', '7', '5']

In [21]:
len(list_4)

8

In [22]:
list_5 = ['12345675']
len(list_5)

1

In [23]:
empty_list = []

In [24]:
list_6 = [6,'False',6, True, 6, 'Melisa', 6]

In [25]:
len(list_6) #  bir listenin icine tekrarli data konulabilir .

6

In [26]:
list_4 = list ('1234567')
list_4

['1', '2', '3', '4', '5', '6', '7']

In [14]:
list_7 = list('abc') # list methodu en fazla 1 arguman kabul eder 

list_7

['a', 'b', 'c']

In [33]:
list_8 = [6,False, True, 0, 0.0, 'Adana', 'Burak',[4,9,2,'Bursa']]
list_8

[6, False, True, 0, 0.0, 'Adana', 'Burak', [4, 9, 2, 'Bursa']]

In [34]:
list_8[7]

[4, 9, 2, 'Bursa']

In [35]:
list_8[7][3]

'Bursa'

In [42]:
list_8[7][3][2]

'r'

In [43]:
list_8

[6, False, True, 0, 0.0, 'Adana', 'Burak', [4, 9, 2, 'Bursa']]

In [45]:
list_8[::-1] # listelerde slicing islemi yapilabilir stringlerdeki gibi.

[[4, 9, 2, 'Bursa'], 'Burak', 'Adana', 0.0, 0, True, False, 6]

In [47]:
list_8

[6, False, True, 0, 0.0, 'Adana', 'Burak', [4, 9, 2, 'Bursa']]

In [46]:
list_8[2:4]

[True, 0]

In [49]:
list_8

[6, False, True, 0, 0.0, 'Adana', 'Burak', [4, 9, 2, 'Bursa']]

In [50]:
list_8[::-1]

[[4, 9, 2, 'Bursa'], 'Burak', 'Adana', 0.0, 0, True, False, 6]

In [51]:
list_8[::-1][0][::-1]

['Bursa', 2, 9, 4]

In [52]:
list_8[7][::-1]

['Bursa', 2, 9, 4]

In [54]:
list_8

[6, False, True, 0, 0.0, 'Adana', 'Burak', [4, 9, 2, 'Bursa']]

In [56]:
list_8[5] = 'Hatay' # bu kod calisiyor
# listeler mutabledir , yani assignment olmadan elemanlarini degistirebiliriz. kalici degisiklik

In [57]:
list_8[5]

'Hatay'

In [58]:
list_8

[6, False, True, 0, 0.0, 'Hatay', 'Burak', [4, 9, 2, 'Bursa']]

In [61]:
list_8[5][0] = 'A' # ERROR -> stringler immutable dir

TypeError: 'str' object does not support item assignment

# list methods

# append

In [62]:
list1 = [1,2,3]
list1

[1, 2, 3]

In [63]:
list1.append(4)

In [64]:
list1

[1, 2, 3, 4]

In [66]:
list1.append(5,6) # ERROR -> Birden fazla arguman ile calismaz.

TypeError: list.append() takes exactly one argument (2 given)

In [67]:
list1.append([5,6,7])

In [68]:
list1

[1, 2, 3, 4, [5, 6, 7]]

In [73]:
list1.append('34567')

In [74]:
list1

[1, 2, 3, 4, [5, 6, 7], '34567', '34567', '34567', '34567']

In [75]:
list1.append(9.8)

In [76]:
list1

[1, 2, 3, 4, [5, 6, 7], '34567', '34567', '34567', '34567', 9.8]

# insert() -> listenin herhangi bir belirlediginiz indexine eleman ekleyebilirsiniz

In [20]:
list2 = ['adana','kebap','lahmacun']
list2.insert(3, True)
list2

['adana', 'kebap', 'lahmacun', True]

In [78]:
list2.insert(2,'corba')

In [79]:
list2

['adana', 'kebap', 'corba', 'lahmacun']

In [21]:
list2.insert(0,'kokorec')
list2

['kokorec', 'adana', 'kebap', 'lahmacun', True]

In [82]:
list2
# insert calisma mantigi : verilen indexi bulur , kendi yerlesir, digerlerini saga kaydirir

['kokorec', 'adana', 'kebap', 'corba', 'lahmacun']

In [84]:
list2.insert(-1,'etliekmek')

In [85]:
list2

['kokorec', 'adana', 'kebap', 'corba', 'etliekmek', 'lahmacun']

In [86]:
list2.insert(6, 'sirdan')

In [87]:
list2

['kokorec', 'adana', 'kebap', 'corba', 'etliekmek', 'lahmacun', 'sirdan']

In [88]:
list2.insert(len(list2), 'sirdan2') # dinamik

In [89]:
list2

['kokorec',
 'adana',
 'kebap',
 'corba',
 'etliekmek',
 'lahmacun',
 'sirdan',
 'sirdan2']

In [90]:
list2

['kokorec',
 'adana',
 'kebap',
 'corba',
 'etliekmek',
 'lahmacun',
 'sirdan',
 'sirdan2']

In [123]:
listx = [4,5,6]
listx.insert(1,10)

In [124]:
listx

[4, 10, 5, 6]

In [125]:
listx.insert(-1,90)

In [126]:
listx

[4, 10, 5, 90, 6]

In [91]:
list2.append('borek')

In [92]:
list2

['kokorec',
 'adana',
 'kebap',
 'corba',
 'etliekmek',
 'lahmacun',
 'sirdan',
 'sirdan2',
 'borek']

In [93]:
# iterable -> elemanlarina teker teker ulasilabilen, indexlenebilen demektir. 
a = 'ali'
a[0]

'a'

## remove() -> eleman silmek icin kullanilir. , belirtiginiz elemanin kendisini siler.

In [94]:
list3 = [5,6,8,3,3,6,8]
list3.remove(8)

In [95]:
list3

[5, 6, 3, 3, 6, 8]

In [27]:
list3.remove(6)
print(list3)

NameError: name 'list3' is not defined

In [98]:
list4 = ['ali','veli', "ali", 'vedat']
list4

['ali', 'veli', 'vedat']

In [25]:
list4.remove('ali')
print(list4)

NameError: name 'list4' is not defined

In [23]:
list4

NameError: name 'list4' is not defined

# pop() -> listeden bir eleman siler, 
eger hangi eleman oldugu belirtilmezse son elemani siler, 
belirtmek isterseniz index ile calisir

In [101]:
list4

['veli', 'vedat']

In [102]:
list4.pop()

'vedat'

In [103]:
list4

['veli']

In [104]:
list3

[5, 3, 3, 6, 8]

In [105]:
list3.pop(2)

3

In [106]:
list3

[5, 3, 6, 8]

In [107]:
len(list3)

4

In [108]:
list3.pop(8) # ERROR -> boyle bir indexte eleman olmadigi icin .

IndexError: pop index out of range

## count() -> 
bir karakterden listenin icinde kac tane var diye bakar

In [109]:
list5 = [3,6,9, 'a','b','c',3,3,6]
list5

[3, 6, 9, 'a', 'b', 'c', 3, 3, 6]

In [110]:
list5.count(3)

3

In [112]:
list5.count(6) # integer dondurur

2

In [115]:
list6 = [0, False, True, 89, 'kemal','elena','True', 1, True, 0.0,'']
list6.count(False)

3

In [114]:
list6.count(True)

3

In [116]:
[6, 'Bahruz', 4, False, 0.0, [4, 'Eldar', 2], 'qardas'].count(4)

1

In [117]:
bool(89)

True

In [118]:
list_4=['adana', 'bursa',53,['bursa', 'istanbul',25]]
list_4.count('bursa')

1

In [ ]:
# del, clear , sort